html{
  scroll-behavior: smooth;
}

body{
  background-color: $backgroundColor1;
  font-family: 'Overpass', sans-serif;
  color: $textColor1;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.header{

  h1{
    font-size: 50px;
    margin-top: 40px;
  }
  margin: auto;
  text-align: center;
  font-family: 'Gabarito', sans-serif;

  .navbar{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 10% 30px 10%;
    h3{
      font-size: 25px;
    }
    @media screen and (max-width: 431px){
      margin: 30px 5% 30px 5%;
      h3{
        font-size: 20px;
      }
    };

    a{
      position: relative;
      img{
        max-height: 20px;
        width: 100%;
        object-fit: fill;
        position: absolute;
        bottom: -20px;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .1s ease-in-out;
      }

      &:hover, &:focus{
        img{
          display: block;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }
  }

  .yellow_wave{
    margin-top: 40px;
    object-fit: fill;
  }
}

.introduction{
  text-align: left;
  margin: 70px 50% 50px 10%;
  h2{
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
  }
  p{
    font-family: 'Overpass', sans-serif;
    padding-top: 10px;
    font-size: 18px;
  }

  @media screen and (max-width: 431px){
    margin: 70px 10% 50px 10%;
    h2{
      font-size: 25px;
    }
    p{
      font-size: 16px;
    }
  };
}

.projects{
  //projects title
  h2{
    font-family: 'Gabarito', sans-serif;
    font-size: 28px;
    margin: 40px 10% 0px 10%;
  }
  hr{
    width: 100px;    
    border: 4px solid #4BA3B2;
    margin: 0px 10% 0px 10%;
  }
  //project boxes
  .project{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    margin: 50px 10% 0px 10%;
  }

  @media screen and (max-width: 431px){
    .project{
      grid-template-columns: repeat(1, 9fr);
      margin: 50px 5% 0px 5%;
    }}

  ._image{
    position: relative;
    overflow: hidden;
    padding-bottom: 438px;
    .overlay{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $textColor1;
      z-index: 1;
      opacity: 0;
      transition: opacity ease .3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .title{ 
        font-family: 'Gabarito', sans-serif;
        color: white;
        font-size: 16pt;
        text-align: center;
        
      }
      .desc{
        font-family: 'Overpass', sans-serif;
        color: white;
        font-size: 12pt;
        text-align: center;
      }
    }
    &.--bottom{
      img{
        object-position: bottom;
      }
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:hover, &:focus{
      .overlay{
        opacity: 0.8;
      }
    }
  }

}


.back_top{
  margin-left: 47%;
  margin-right: 47%;
  padding: 45px 0 45px;
  img{
    opacity: .5;
    margin: auto;
    height: 50px;
  }
  p{
    font-size: 12pt;
    text-align: center;
    opacity: .75;
    padding-top: 10px;
  }
  &:hover, &:focus{
    img, p{
      opacity: 1;
  }}

  @media screen and (max-width: 431px){
    margin-left: 40%;
  margin-right: 40%;
  }
}


.footer{
  background-color: $backgroundColor2;
  color: $backgroundColor1;
  #footer_arrow{
    margin: auto;
    max-width: 80%;
  }
  .footer_content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }
  p{
    font-family: 'Overpass', sans-serif;
    font-size: 14pt;
  }
  .social-links{
    display: flex;
    gap: 10px;
  }

  @media screen and (max-width: 431px){
    #footer_arrow{
      height:40px;
    }
    .footer_content{
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 30px;
    }
  }
}


