@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=Overpass&display=swap");
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF1DD;
  font-family: "Overpass", sans-serif;
  color: #401A1A;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.header {
  margin: auto;
  text-align: center;
  font-family: "Gabarito", sans-serif;
}
.header h1 {
  font-size: 50px;
  margin-top: 40px;
}
.header .navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 10% 30px 10%;
}
.header .navbar h3 {
  font-size: 25px;
}
@media screen and (max-width: 430px) {
  .header .navbar {
    margin: 30px 5% 30px 5%;
  }
  .header .navbar h3 {
    font-size: 20px;
  }
}
.header .navbar a {
  position: relative;
}
.header .navbar a img {
  max-height: 20px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: -webkit-clip-path 0.1s ease-in-out;
  transition: clip-path 0.1s ease-in-out;
  transition: clip-path 0.1s ease-in-out, -webkit-clip-path 0.1s ease-in-out;
}
.header .navbar a:hover img, .header .navbar a:focus img {
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header .yellow_wave {
  margin-top: 40px;
  -o-object-fit: fill;
     object-fit: fill;
}

.introduction {
  text-align: left;
  margin: 70px 50% 50px 10%;
}
.introduction h2 {
  font-size: 30px;
  font-family: "Gabarito", sans-serif;
}
.introduction p {
  font-family: "Overpass", sans-serif;
  padding-top: 10px;
  font-size: 18px;
}
@media screen and (max-width: 430px) {
  .introduction {
    margin: 70px 10% 50px 10%;
  }
  .introduction h2 {
    font-size: 25px;
  }
  .introduction p {
    font-size: 16px;
  }
}

.projects h2 {
  font-family: "Gabarito", sans-serif;
  font-size: 28px;
  margin: 40px 10% 0px 10%;
}
.projects hr {
  width: 100px;
  border: 4px solid #4BA3B2;
  margin: 0px 10% 0px 10%;
}
.projects .project {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
  margin: 50px 10% 0px 10%;
}
@media screen and (max-width: 430px) {
  .projects .project {
    grid-template-columns: repeat(1, 9fr);
    margin: 50px 5% 0px 5%;
  }
}
.projects ._image {
  position: relative;
  overflow: hidden;
  padding-bottom: 438px;
}
.projects ._image .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #401A1A;
  z-index: 1;
  opacity: 0;
  transition: opacity ease 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects ._image .overlay .title {
  font-family: "Gabarito", sans-serif;
  color: white;
  font-size: 16pt;
  text-align: center;
}
.projects ._image .overlay .desc {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 12pt;
  text-align: center;
}
.projects ._image.--bottom img {
  -o-object-position: bottom;
     object-position: bottom;
}
.projects ._image img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.projects ._image:hover .overlay, .projects ._image:focus .overlay {
  opacity: 0.8;
}

.back_top {
  margin-left: 47%;
  margin-right: 47%;
  padding: 45px 0 45px;
}
.back_top img {
  opacity: 0.5;
  margin: auto;
  height: 50px;
}
.back_top p {
  font-size: 12pt;
  text-align: center;
  opacity: 0.75;
  padding-top: 10px;
}
.back_top:hover img, .back_top:hover p, .back_top:focus img, .back_top:focus p {
  opacity: 1;
}
@media screen and (max-width: 430px) {
  .back_top {
    margin-left: 40%;
    margin-right: 40%;
  }
}

.footer {
  background-color: #D40000;
  color: #FFF1DD;
}
.footer #footer_arrow {
  margin: auto;
  max-width: 80%;
}
.footer .footer_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}
.footer p {
  font-family: "Overpass", sans-serif;
  font-size: 14pt;
}
.footer .social-links {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 430px) {
  .footer #footer_arrow {
    height: 40px;
  }
  .footer .footer_content {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 30px;
  }
}

body h3 {
  font-size: 25px;
  font-family: "Gabarito", sans-serif;
}

.project_overview {
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: center;
}
.project_overview .project_left {
  width: 100%;
  margin: 50px 10% 20px;
}
.project_overview .project_left h2 {
  font-size: 35px;
  font-family: "Gabarito", sans-serif;
}
.project_overview .project_left h3 {
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  color: #D40000;
}
.project_overview p {
  margin: 50px 10% 20px;
  font-family: "Overpass", sans-serif;
  padding-top: 10px;
  font-size: 18px;
}
@media screen and (max-width: 430px) {
  .project_overview {
    flex-wrap: wrap;
  }
  .project_overview p {
    margin-top: 20px;
  }
}

.project_section {
  margin-top: 50px;
}
.project_section h3 {
  margin-left: 10%;
}
.project_section .slider_area {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
.project_section .leftbutton {
  position: absolute;
  top: 40%;
  left: -5%;
}
.project_section .rightbutton {
  position: absolute;
  top: 40%;
  right: -5%;
}
.project_section img {
  float: left;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project_section button {
  border: none;
  background-color: transparent;
  outline: none;
}
.project_section .button {
  height: 60px;
}
.project_section #next {
  transform: scaleX(-1);
}
@media screen and (max-width: 430px) {
  .project_section button {
    display: none;
  }
}

.image {
  padding: 10px;
}

.final_section {
  margin: 60px 10% 20px;
}
.final_section h3 {
  margin-bottom: 40px;
}
.final_section .image_2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.final_section .image_2 img {
  max-width: 600px;
}
@media screen and (max-width: 430px) {
  .final_section h3 {
    margin-top: 1325px;
  }
  .final_section .image_2 {
    flex-wrap: wrap;
  }
  .final_section .image_2 img {
    max-width: 100%;
  }
}

.buttons {
  display: flex;
  gap: 70px;
  margin: 70px 10% 20px;
  justify-content: center;
}
.buttons button {
  border: none;
  border-radius: 10px;
  background-color: #397a89;
  color: white;
  padding: 15px 45px;
  text-align: center;
  display: inline-block;
  font-family: "Gabarito", sans-serif;
  font-size: 18px;
}
.buttons button:hover, .buttons button:focus {
  background-color: #3a9db4;
}
@media screen and (max-width: 430px) {
  .buttons {
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px 10% 20px;
  }
}/*# sourceMappingURL=index.css.map */